<div class="featured-posts">
    <div class="container">
        {% paginate posts by 999 %}
            <div class="grid header-post" style="color:{{ section.settings.color }}; text-align: {{ section.settings.alignment }}">
                <h{{ section.settings.heading_size }}>{{ section.settings.heading }}</h{{ section.settings.heading_size }}>
                <div>{{ section.settings.description }}</div>
            </div>
            <div class="row featured-wrapper">
                {% for post in posts %}
                    {% assign post_categories = post.categories | map: 'slug' %}
                    {% if post_categories contains 'featured' %}
                    <div class="item post-list-item col-sm-4" onclick="location.href='{{ post.url }}'" data-aos="zoom-in" data-aos-duration="1000">
                        <div class="header-img" style="background-image: url({{ post.image_url | resize: '800x800' }})">
                            <div class="overlay" style="background-color: {{ section.settings.filter_color }};"></div>
                        </div>
                        <div class="work-content" style="align-items:{{ section.settings.content_alignment }};">
                            {% if section.settings.tag %}
                            <div class="tag">
                                {% for post_tag in post.tags %}
                                <p>{{ post_tag.name }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% if section.settings.title %}
                            <h{{ section.settings.title_size }} class="title">{{ post.title }}</h{{ section.settings.title_size }}>
                            {% endif %}
                            <span class="author">
                                {% if section.settings.author %}
                                {{ post.author }}
                                {% endif %}
                                {% if section.settings.date %}
                                <i>| {{ post.published_at | date: "%b %e %Y" }}</i>
                                {% endif %}
                            </span>
                            {% if section.settings.excerpt %}
                            <p>{{ post.excerpt | strip_html | truncate | 200 }}</p>
                            {% endif %}
                            <a href="{{ post.url }}" class="post-link" style="color:{{ section.settings.link_color }};">Read more <i class="caret-right" style="border-color:{{ section.settings.link_color }};"></i></a>
                            <span class="hover-effect"></span>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endpaginate %}
    </div>
</div>

{% styles %}

@font-face {
    font-family: 'Oswald';
    src: url("{{ 'Oswald.ttf' | font_url }}") format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Didot';
    src: url("{{ 'Didot.ttf' | font_url }}") format('ttf');
    font-weight: normal;
    font-style: normal;
}

.featured-posts {
    margin: 3rem auto 5rem;
}

.featured-posts .container {
    margin-top: 3rem;
}

.featured-posts .featured-wrapper {
    display: flex;
}

.featured-posts .featured-wrapper .post-list-item {
    width: 100%;
    margin-bottom: 0;
}

.featured-posts .featured-wrapper .post-list-item:nth-child(n+4) {
    display: none;
}

.featured-posts .featured-wrapper .post-list-item:first-child .header-img {
    height: 350px;
}

.featured-posts .featured-wrapper .post-list-item:nth-child(n+2) .header-img {
    height: 200px;
}

.featured-posts .post-list-item,
.featured-posts .header-post,
.featured-posts .row {
    margin-bottom: 2rem;
}

.featured-posts .post-list-item {
    position: relative;
    cursor: pointer;
}

.featured-posts .post-list-item .header-img {
    position: relative;
    background-color: #dcf0ff;
    background-position: center;
    background-size: auto 110%;
    height: 300px;
    transition: all 0.5s;
    -webkit-transition:all 0.5s ;
    -o-transition:all 0.5s ;
    -moz-transition:all 0.5s ;
}

.featured-posts .post-list-item:hover .header-img {
    background-size: auto 130%;
}

.featured-posts .post-list-item .header-img .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #555555;
    opacity: 0.5;
}

.featured-posts .post-list-item:hover .header-img .overlay {
    opacity: 0.6;
}

.featured-posts .post-list-item .work-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #FFFFFF;
    padding: 1rem;
    margin: 0 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: 0.5s;
}

.featured-posts .post-list-item:hover .work-content {
    margin-bottom: 1rem;
}

.featured-posts .post-list-item:hover .hover-effect {
    border-bottom: 3px solid #3D65D8;
    width: 80px;
}

.featured-posts .header-post h1,
.featured-posts .header-post h2,
.featured-posts .header-post h3,
.featured-posts .header-post h4,
.featured-posts .header-post h5,
.featured-posts .header-post h6,
.featured-posts .post-list-item .work-content h1,
.featured-posts .post-list-item .work-content h2,
.featured-posts .post-list-item .work-content h3,
.featured-posts .post-list-item .work-content h4,
.featured-posts .post-list-item .work-content h5,
.featured-posts .post-list-item .work-content h6 {
    font-family: 'Didot', sans-serif;
    font-weight: 700;
} 

.featured-posts .header-post h1,
.featured-posts .header-post h2,
.featured-posts .header-post h3,
.featured-posts .header-post h4,
.featured-posts .header-post h5,
.featured-posts .header-post h6, {
    margin-bottom: 1.5rem;
}

.featured-posts .header-post > div {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
}

.featured-posts .header-post .post-categories ul {
    text-align: center;
    list-style: none;
    padding: 0;
}

.featured-posts .header-post .post-categories a {
    color: #000000;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
}

.featured-posts .work-content .tag {
    align-items: center;
    display: flex;
}

.featured-posts .work-content .tag p {
     margin: 0 .5rem 0 0;
}

.featured-posts .work-content .tag p,
.featured-posts .work-content .author {
    color: #FFFFFF;
    font-size: .6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .3rem
}

.featured-posts .work-content p {
    font-size: 1rem;
    font-weight: 100;
    line-height: 20px;
}

.featured-posts .post-list-item .post-link {
    color: #000000;
    text-decoration: none;
    display: none;
    align-items: center;
}

@media (min-width: 768px) {
    .featured-posts .featured-wrapper {
        height: 700px;
        display: grid;
    }
    .featured-posts .featured-wrapper .post-list-item {
        padding: 0;
    }
    .featured-posts .featured-wrapper .post-list-item,
    .featured-posts .featured-wrapper .post-list-item .header-img.header-img {
        width: 100%;
        height: 100%;
    }
    .featured-posts .featured-wrapper .post-list-item .work-content {
        padding: 2rem 2rem 1rem;
        margin-left: 0;
        margin-right: 0;
    }
    .featured-posts .featured-wrapper .post-list-item .work-content .tag p {
        font-size: .8rem; 
    }
    .featured-posts .featured-wrapper .post-list-item .work-content .title {
        font-weight: 700;
        line-height: 44px;
    }
    .featured-posts .featured-wrapper .post-list-item:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
    }
    .featured-posts .featured-wrapper .post-list-item:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .featured-posts .featured-wrapper .post-list-item:last-child {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }
}

{% endstyles %}

{% schema %}
{
    "name": "Featured Post Listing",
    "description": "Blog Post Listing",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading Size",
            "default": "2",
            "options": [
                {
                    "label":"H1",
                    "value":"1"
                },
                {
                    "label":"H2",
                    "value":"2"
                },
                {
                    "label":"H3",
                    "value":"3"
                },
                {
                    "label":"H4",
                    "value":"4"
                },
                {
                    "label":"H5",
                    "value":"5"
                },
                {
                    "label":"H6",
                    "value":"6"
                }
            ]
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Title Size",
            "default": "3",
             "options": [
                {
                    "label":"H1",
                    "value":"1"
                },
                {
                    "label":"H2",
                    "value":"2"
                },
                {
                    "label":"H3",
                    "value":"3"
                },
                {
                    "label":"H4",
                    "value":"4"
                },
                {
                    "label":"H5",
                    "value":"5"
                },
                {
                    "label":"H6",
                    "value":"6"
                }
            ]
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "color",
            "id": "color",
            "label": "Text Color",
            "default": "#000000"
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Heading Alignment",
            "default": "center",
            "options": [
                {
                    "label":"Left",
                    "value":"left"
                },
                {
                    "label":"Center",
                    "value":"center"
                },
                {
                    "label":"Right",
                    "value":"right"
                }
            ]
        },
        {
            "type": "select",
            "id": "content_alignment",
            "label": "Title Alignment",
            "default": "left",
            "options": [
                {
                    "label":"Left",
                    "value":"flex-start"
                },
                {
                    "label":"Center",
                    "value":"center"
                },
                {
                    "label":"Right",
                    "value":"flex-end"
                }
            ]
        },
        {
            "type":"checkbox",
            "id":"title",
            "label":"Show Title",
            "default": true
        },
        {
            "type":"checkbox",
            "id":"author",
            "label":"Show Author",
            "default": true
        },
        {
            "type":"checkbox",
            "id":"date",
            "label":"Show Date",
            "default": true
        },
        {
            "type":"checkbox",
            "id":"tag",
            "label":"Show Tags",
            "default": true
        },
        {
            "type":"checkbox",
            "id":"excerpt",
            "label":"Show Teaser",
            "default": true
        },
        {
            "type": "color",
            "id": "filter_color",
            "label": "Background Filter Color",
            "default": "#000000"
        }
    ]
}
{% endschema %}